#container {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    background: #f7f7f7;
    width: 360px;
    margin: 100px auto;
    
}

.completed {
    color: grey;
    text-decoration: line-through;
}

h1 {
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Roboto;
    background: #3D7EAA;
    background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);
    background: linear-gradient(to right, #FFE47A, #3D7EAA);
}

li {
    background: white;
    height: 40px;
    line-height: 40px;
    color: #666;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}

li:nth-child(2n) {
    background: #f7f7f7;
}

input {
    font-size: 18px;
    background: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980b9;
    border: 3px solid rgba(0,0,0,0);
}

input:focus {
    background: white;
    border: 3px solid #2980b9;
    outline: none;
}

.fa-clipboard-list {
    float: right;
}

span {
    background: #e74c3c;
    color: white;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    width: 0;
    display: inline-block;
    transition: 0.3s linear;
    opacity: 0;
}